<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HHParser</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <h1>
        HHParser
    </h1>
    <h2>
        Аналитика по вакансиям с сайта HeadHunter
    </h2>
    <p>
        Парсер получает информацию о вакансиях с HH
        <br>
        и выводит аналитику требований работодателей к соискателям.
    </p>
    <hr>
    <p class="security">
        Все права защищены
    </p>
    <hr>
    <a href="second.html">Начать поиск</a>
</body>
</html>