<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты</title>
</head>
<body>
    <h1>Результат анализа вакансий с сайта HH</h1>
    <h3>Параметры поиска</h3>
        <ol>
            <li>python developer</li>
            <li>в названии вакансии</li>
            <li>Регион Москва</li>
        </ol>
        <h3>Список требований к соискателям</h3>
        <ul>
            <li>python</li>
            <li>sql</li>
            <li>git</li>
            <li>PostgreSQL</li>
        </ul>
        <img src="python.jpg" width="300px">
        <br>
<table>
    <tr>
        <th>Номер</th>
        <th>Требования к соискателям</th>
        <th>Частота требования к соискателю в процентах</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Python</td>
        <td>14.5%</td>
    </tr>
    <tr>
        <td>2</td>
        <td>SQL</td>
        <td>6.2%</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Git</td>
        <td>5.5%</td>
    </tr>
     <tr>
        <td>4</td>
        <td>PostgreSQL</td>
        <td>5.1%</td>
    </tr>
</table>
<a href="index.html">На главную</a>

</body>
</html>